footer {
  background-color: white;
  padding-top: 1.5rem;

  h2.partnerHeadline {
    text-align: center;
    position: relative;
    font-weight: 500;

    &::before {
      display: block;
      content: "";
      width: 35vw;
      height: 0.2rem;
      background-color: black;
      position: absolute;
      top: 50%;
      left: 5vw;
    }

    &::after {
      display: block;
      content: "";
      width: 32vw;
      height: 0.2rem;
      background-color: black;
      position: absolute;
      top: 50%;
      right: 6vw;
    }
  }

  .partnerContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    flex-wrap: wrap;

    // &:after {
    //   content: "";
    //   width: 89vw;
    //   height: 3px;
    //   background-color: black;
    //   position: absolute;
    //   bottom: 0px;
    //   left: 50%;
    //   transform: translateX(-50%);
    // }

    .top,
    .bottom {
      display: flex;
    }

    img {
      height: 100%;
      max-height: 5rem;
      margin: 1.5rem 2rem;
    }
  }

  .footerText {
    display: flex;
    justify-content: space-between;

    .location {
      width: 40%;
    }

    .vehicles {
      width: 60%;

      h3 {
        font-weight: 700;
      }

      ul {
        padding: 0;

        li {
          font-weight: 400;
          list-style: none;
          line-height: 150%;

          span {
            font-weight: 700;
          }
        }
      }
    }
  }
}
